.gitsecret/keys/random_seed
secrets.yaml
__pycache__
home-assistant.log
home-assistant_v2.db
.DS_Store
._.DS_Store
.HA_VERSION
.cloud
.homekit.state
.ios.conf
.ring_cache.pickle
.storage
.uuid
.vscode
airsonos.xml
appdaemon.log*
deps
deconz
node-red
harmony_tv.conf
known_devices.yaml


._*
